<div class="login-container">
    <h2>Iniciar Sesión</h2>
    <form (ngSubmit)="login()">
      <div *ngIf="errorMessage" class="error">{{ errorMessage }}</div>
  
      <div class="form-group">
        <label for="usuarioCorreo">Correo Electrónico</label>
        <input
          type="email"
          id="usuarioCorreo"
          [(ngModel)]="usuarioCorreo"
          name="usuarioCorreo"
          required
          class="form-control"
        />
      </div>
  
      <div class="form-group">
        <label for="usuarioContrasena">Contraseña</label>
        <input
          type="password"
          id="usuarioContrasena"
          [(ngModel)]="usuarioContrasena"
          name="usuarioContrasena"
          required
          class="form-control"
        />
      </div>
  
      <button type="submit" [disabled]="isSubmitting" class="btn btn-primary">
        Iniciar sesión
      </button>
    </form>
  </div>
  