/* Estilo para la disposición de la página */
.main-layout {
  height: 100vh;
  transition: all 0.3s ease; /* Transición suave para todo el layout */
}

/* Sidebar */
.sidebar-container {
  transition: transform 0.3s ease;
  width: 15%; 
  min-width: 200px;
}

.sidebar-closed .sidebar-container {
  transform: translateX(3%);
  width: 3%;
}

.content-container {
  flex: 1;
  transition: margin-left 0.3s ease-in-out;
  margin-left: 13%;
}

.sidebar-closed .content-container {
  margin-left: 3%; 
}

@media (max-width: 768px) {
  .sidebar-container {
    width: 100%; 
  }

  .sidebar-closed .sidebar-container {
    transform: translateX(-100%);
    width: 10%; 
  }

  .content-container {
    margin-left: 0; 
  }
}
