<div class="dashboard">
  <mat-toolbar class="navbarPrimary">
    <p>
      Te encuentras en el mes de prueba gratis. Si deseas acceder a uno de
      nuestros planes<span> Haz click aquí</span>
    </p>
  </mat-toolbar>

  <div class="content">
    <mat-toolbar class="navbar">
      <button mat-button (click)="selectTab('producto')">Producto</button>
      <button mat-button (click)="selectTab('categoria')">Categoría</button>
    </mat-toolbar>
    <div *ngIf="selectedTab === 'producto'">
      <app-producto></app-producto>
    </div>
    <div *ngIf="selectedTab === 'categoria'">
      <app-categoria></app-categoria>
    </div>
  </div>
</div>
