<div class="sidebar" [class.sidebar-closed]="isSidebarClosed">
  <div class="sidebar-header">
    <h2 *ngIf="!isSidebarClosed">Menú</h2>
    <button (click)="toggleSidebar()" class="sidebar-toggle">
      <mat-icon>menu</mat-icon>
    </button>
  </div>

  <ul class="sidebar-list" *ngIf="!isSidebarClosed">
    <li (click)="navigateTo('/productos')" class="sidebar-item">
      <mat-icon class="sidebar-icon">category</mat-icon>
      <span class="sidebar-text">Producto</span>
    </li>
    <li (click)="navigateTo('/categorias')" class="sidebar-item">
      <mat-icon class="sidebar-icon">category</mat-icon>
      <span class="sidebar-text">categorias</span>
    </li>
    <li (click)="navigateTo('/compras')" class="sidebar-item">
      <mat-icon class="sidebar-icon">shopping_cart</mat-icon>
      <span class="sidebar-text">Compras</span>
    </li>
    <li (click)="navigateTo('/ventas')" class="sidebar-item">
      <mat-icon class="sidebar-icon">store</mat-icon>
      <span class="sidebar-text">Ventas</span>
    </li>
  </ul>

  <button (click)="logout()" class="logout-button" *ngIf="!isSidebarClosed">
    <mat-icon>exit_to_app</mat-icon>
    <span class="sidebar-text">Cerrar Sesión</span>
  </button>
</div>
