<div class="container mt-5">
  <h2 class="text-center mb-4">Lista de Productos</h2>

  <mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>

  <mat-card *ngIf="errorMessage" class="error-card">
    <mat-card-content>{{ errorMessage }}</mat-card-content>
  </mat-card>

  <div class="mb-3 d-flex justify-content-between align-items-center">
    <mat-form-field appearance="outline" class="w-50">
      <mat-label>Buscar Producto</mat-label>
      <input matInput [(ngModel)]="searchTerm" (input)="paginateProducts()" />
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
  </div>

  <div *ngIf="!isLoading && !errorMessage">
    <mat-table [dataSource]="paginatedProductos" matSort>
      <!-- Código -->
      <ng-container matColumnDef="ProductoCodigo">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          Código
        </mat-header-cell>
        <mat-cell *matCellDef="let producto">{{
          producto.ProductoCodigo
        }}</mat-cell>
      </ng-container>

      <!-- Nombre -->
      <ng-container matColumnDef="ProductoNombre">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          Nombre
        </mat-header-cell>
        <mat-cell *matCellDef="let producto">{{
          producto.ProductoNombre
        }}</mat-cell>
      </ng-container>

      <!-- Stock -->
      <ng-container matColumnDef="ProductoStock">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          Stock
        </mat-header-cell>
        <mat-cell *matCellDef="let producto">{{
          producto.ProductoStock
        }}</mat-cell>
      </ng-container>

      <!-- Precio -->
      <ng-container matColumnDef="ProductoPrecioVenta">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          Precio
        </mat-header-cell>
        <mat-cell *matCellDef="let producto">
          {{
            producto.ProductoPrecioVenta | currency : "S/" : "symbol" : "1.2-2"
          }}
        </mat-cell>
      </ng-container>

      <!-- Impuesto IGV -->
      <ng-container matColumnDef="ProductoImpuestoIgv">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          Impuesto IGV
        </mat-header-cell>
        <mat-cell *matCellDef="let producto">
          {{
            producto.ProductoImpuestoIgv | currency : "S/" : "symbol" : "1.2-2"
          }}
        </mat-cell>
      </ng-container>

      <!-- Categoría -->
      <ng-container matColumnDef="CategoriaNombre">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          Categoría
        </mat-header-cell>
        <mat-cell *matCellDef="let producto">
          {{
            getCategoriaById(producto.CategoriaId)?.CategoriaNombre ||
              "Categoría no encontrada"
          }}
        </mat-cell>
      </ng-container>

      <!-- Imagen -->
      <ng-container matColumnDef="ProductoImagen">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          Imagen
        </mat-header-cell>
        <mat-cell *matCellDef="let producto">{{
          producto.ProductoImagen
        }}</mat-cell>
      </ng-container>

      <!-- Unidad -->
      <ng-container matColumnDef="UnidadNombre">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          Unidad
        </mat-header-cell>
        <mat-cell *matCellDef="let producto">{{
          getUnidadById(producto.UnidadId)?.UnidadNombre ||
            "Categoría no encontrada"
        }}</mat-cell>
      </ng-container>

      <!-- Filas de la tabla -->
      <mat-header-row
        *matHeaderRowDef="[
          'ProductoCodigo',
          'ProductoNombre',
          'ProductoStock',
          'ProductoPrecioVenta',
          'ProductoImpuestoIgv',
          'CategoriaNombre',
          'ProductoImagen',
          'UnidadNombre',
          'Acciones'
        ]"
      ></mat-header-row>
      <mat-row
        *matRowDef="
          let row;
          columns: [
            'ProductoCodigo',
            'ProductoNombre',
            'ProductoStock',
            'ProductoPrecioVenta',
            'ProductoImpuestoIgv',
            'CategoriaNombre',
            'ProductoImagen',
            'UnidadNombre',
            'Acciones'
          ]
        "
      ></mat-row>

      <ng-container matColumnDef="Acciones">
        <mat-header-cell *matHeaderCellDef>Acciones</mat-header-cell>
        <mat-cell *matCellDef="let producto">
          <button mat-icon-button (click)="editarProducto(producto)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button (click)="(producto)">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-cell>
      </ng-container>
    </mat-table>

    <!-- Paginación -->
    <mat-paginator
      [length]="totalItems"
      [pageSize]="pageSize"
      (page)="changePage($event)"
    >
    </mat-paginator>
  </div>

</div>
