<div class="container mt-5 categoraia">
  <mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>

  <mat-card *ngIf="errorMessage" class="error-card">
    <mat-card-content>{{ errorMessage }}</mat-card-content> </mat-card
  ><!-- Barra de búsqueda -->
  <div class="mb-3 d-flex justify-content-between align-items-center">
    <mat-form-field appearance="outline" class="w-50">
      <mat-label>Buscar Categoría</mat-label>
      <input matInput [(ngModel)]="searchTerm" (input)="filterCategorias()" />
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
  </div>

  <div *ngIf="!isLoading && !errorMessage">
    <mat-table [dataSource]="dataSource" matSort>
      <!-- Orden -->
      <ng-container matColumnDef="Orden">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          Orden
        </mat-header-cell>
        <mat-cell *matCellDef="let categoria; let i = index">{{
          i + 1
        }}</mat-cell>
      </ng-container>

      <!-- Nombre -->
      <ng-container matColumnDef="CategoriaNombre">
        <mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          (click)="toggleFilter('nombre')"
          [class.filter-active]="activeFilter === 'nombre'"
        >
          <div class="filter-header">
            <span>Nombre</span>
            <div
              class="filter-input-container"
              *ngIf="activeFilter === 'nombre'"
            >
              <input
                matInput
                [(ngModel)]="filterNombre"
                (input)="applyFilter()"
                (click)="$event.stopPropagation()"
                placeholder="Filtrar"
              />
            </div>
          </div>
        </mat-header-cell>
        <mat-cell *matCellDef="let categoria">{{
          categoria.CategoriaNombre
        }}</mat-cell>
      </ng-container>

      <!-- Acciones -->
      <ng-container matColumnDef="Acciones">
        <mat-header-cell *matHeaderCellDef>Acciones</mat-header-cell>
        <mat-cell *matCellDef="let categoria">
          <button mat-icon-button (click)="editCategoria(categoria)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button (click)="deleteCategoria(categoria)">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>

    <mat-paginator
      [length]="categorias.length"
      [pageSize]="pageSize"
      [pageSizeOptions]="[5, 10, 25, 100]"
      (page)="changePage($event)"
    ></mat-paginator>
  </div>
</div>
