<div class="container mt-5">
  <h2 class="text-center mb-4">Lista de Categorías</h2>

  <!-- Cargando indicador -->
  <mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>

  <!-- Mensaje de error -->
  <mat-card *ngIf="errorMessage" class="error-card">
    <mat-card-content>{{ errorMessage }}</mat-card-content>
  </mat-card>

  <!-- Barra de búsqueda -->
  <div class="mb-3 d-flex justify-content-between align-items-center">
    <mat-form-field appearance="outline" class="w-50">
      <mat-label>Buscar Categoría</mat-label>
      <input matInput [(ngModel)]="searchTerm" (input)="filterCategorias()" />
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
  </div>

  <!-- Tabla de categorías -->
  <div *ngIf="!isLoading && !errorMessage">
    <mat-table [dataSource]="dataSource" matSort>
      <!-- Definición de columnas -->

      <ng-container matColumnDef="Orden">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          Orden
        </mat-header-cell>
        <mat-cell *matCellDef="let categoria; let i = index">{{
          i + 1
        }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="CategoriaNombre">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          Nombre
        </mat-header-cell>
        <mat-cell *matCellDef="let categoria">{{
          categoria.CategoriaNombre
        }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="Acciones">
        <mat-header-cell *matHeaderCellDef> Acciones </mat-header-cell>
        <mat-cell *matCellDef="let categoria">
          <button mat-icon-button (click)="editCategoria(categoria)">
            <mat-icon>edit</mat-icon>
            <!-- Icono de editar -->
          </button>
          <button mat-icon-button (click)="deleteCategoria(categoria)">
            <mat-icon>delete</mat-icon>
            <!-- Icono de eliminar -->
          </button>
        </mat-cell>
      </ng-container>

      <!-- Fila de la tabla -->
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>

    <!-- Paginación -->
    <mat-paginator
      [length]="categorias.length"
      [pageSize]="5"
      [pageSizeOptions]="[5, 10, 25, 100]"
      (page)="changePage($event)"
    ></mat-paginator>
  </div>
</div>
