<div class="register-categoria-container">
  <mat-card>
    <form [formGroup]="categoriaForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="fill" class="w-100">
        <mat-label>Nombre de la Categoría</mat-label>
        <input
          matInput
          id="categoriaNombre"
          formControlName="categoriaNombre"
          placeholder="Ingrese el nombre de la categoría"
        />
        <mat-error
          *ngIf="
            categoriaForm.controls['categoriaNombre'].invalid &&
            categoriaForm.controls['categoriaNombre'].touched
          "
        >
          El nombre es obligatorio y debe tener al menos 3 caracteres.
        </mat-error>
      </mat-form-field>

      <button
        mat-raised-button
        color="primary"
        [disabled]="categoriaForm.invalid"
        class="w-100"
      >
        Registrar Categoría
      </button>
    </form>

    <!-- Mensajes de éxito o error -->
    <div *ngIf="mensaje" class="message-container">
      <mat-chip-list>
        <mat-chip *ngIf="mensaje.includes('exitosamente')" color="primary">
          {{ mensaje }}
        </mat-chip>
        <mat-chip *ngIf="mensaje.includes('error')" color="warn">
          {{ mensaje }}
        </mat-chip>
      </mat-chip-list>
    </div>
  </mat-card>
</div>
